<h1>利用者のタスク一覧</h1>

<div class = "row">
  <div class="col-md-10 col-md-offset-1">
    <div class = "pagination">
      <ul class = "pagination">
        <li class = "prev previous_page disabled">
          <%= link_to"タスク新規作成",new_user_task_path(@user), class: "btn btn-primary" %>
        </li>
        <li class = "active">
          
        </li> 
      </ul>
    </div>
  </div>
</div>

